<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymControl">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" android:exported="true" />
        <activity android:name=".RegisterActivity" android:exported="true" />
        <activity android:name=".DashboardActivity" android:exported="true" />
        <activity android:name=".AlunosActivity" android:exported="true" />
        <activity android:name=".CadastroAlunoActivity" android:exported="true" />
        <activity android:name=".ConfiguracoesActivity" android:exported="true" />
        <activity android:name=".EvolucaoActivity" android:exported="true" />
        <activity android:name=".ExerciciosActivity" android:exported="true" />
        <activity android:name=".HistoricoTreinoActivity" android:exported="true" />
        <activity android:name=".InstrutorActivity" android:exported="true" />
        <activity android:name=".MensalidadeActivity" android:exported="true" />
        <activity android:name=".MontarTreinoActivity" android:exported="true" />
        <activity android:name=".PagamentosActivity" android:exported="true" />
        <activity android:name=".TreinosActivity" android:exported="true" />
    </application>

</manifest>